*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, button
{
    font: 14px/1.5;
    scroll-behavior: smooth;
}

body, button
{
    font-family: Helvetica;
}

h1 {font-family: Helvetica;}
h2 {font-family: Helvetica;}
h3 {font-family: Helvetica;}
h4 {font-family: Helvetica;}
h5 {font-family: Helvetica;}
h6 {font-family: Helvetica;}

body
{
    background-color: aliceblue;
}

/* Nav-bar */

.btn {
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-1 {
  
  svg {
    height: 4.8vh;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 1s linear;
  }
}

.btn-1:hover {
  background: rgba(red, 0);
  
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.nav
{
    text-align: center;
    background-color: rgb(27, 90, 64);
    background-blend-mode: saturation;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15vw;
}

.nav h1
{
    font-family: cursive;
    font-size: 2rem;
    color: white;
}


.nav ul, h1
{
    line-height: 10vh;
}

.nav li
{
    line-height: 5vh;
    width: 10vw;
    cursor: pointer;
    display: inline-block;
}

.contact-icons li a
{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-icons li
{
    width: 50px;
}







/* Main */

.main-info
{
    border: 1px solid black;
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70vh;
}

.text h1
{
    font-family: cursive;
    margin: 0;
    font-size: 4rem;
}


.contact-info
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-info .contact
{
    flex: 0 0 470px;
    height: 40vh;
    margin-bottom: 7vh;
}

button
{
    border: 0;
    border-radius: 2em;
    padding: 1.2em 3.4em;
    font-weight: bold;
    background-color: rgb(67, 131, 104);
    margin-top: 2em;
    font-size: 1rem;
    margin-left: 2vw;
    align-items: center;
}

button a
{
    color: white;
    text-decoration: none;
}

.first iframe
{
    width: 100%;
    height: 100%;
    border: 0;
}

.second
{
    padding-left: 10px;
}

.second h1, .third h1
{
    padding-top: 8vh;
    padding-left: 1.5vw;
    font-family: cursive;
    padding-bottom: 3vh;
}

.second ul li
{
    padding-bottom: 3vh;
    list-style: none;
}

.second ul, .third p
{
    padding-left: 1.5vw;
}

.second ul li a
{
    font-size: 1.4rem;
    color: rgb(67, 131, 104);
    text-decoration: none;
    padding-right: 1vw;
}

.third
{
    background-color: rgb(190, 206, 198);
}

.third p
{
    font-size: 1.18rem;
    font-family: cursive;
}