*
{
    margin: 0;
    padding: 0;
}

.container
{
    background-color: white;
    position: fixed;
    width: 100%;
}

.site-name
{   
    height: 6.5vh;
    margin-left: 21vw;
    float: left;
}

.nav-bar
{
    float: right;
}

.nav-bar ul li
{
    margin-right: 22vw;
    line-height: 6.5vh;
    font-size: 0.82rem;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.content
{
    width: 100%;
    height: 83vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.content img
{
    position: absolute;
    width: 100%;
    height: 83vh;
    object-fit: cover;
    z-index: -1;
}

.order-button
{
    min-width: 250px;
    font-weight: bold;
    background-color: darkgoldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    width: 15vw;
    height: 6vh;
    line-height: 6vh;
    margin-top: 58vh;
    border-radius: 9vh 9vh 9vh 9vh;
}

.order-button a
{
    color: white;
    text-decoration-line: none;
}

.video
{
    background-color: rgb(248, 247, 247);
    text-align: center;
}

.video video
{
    object-fit: cover;
    margin: 8vh;
    width: 70vw;
    height: 70vh;
}

.info
{
    margin: auto;
    width: 57vw;
    margin-top: 6vh;
}

.info img
{
    width: 50%;
    float: left;
    margin-bottom: 6vh;
}

.info-text
{
    text-align: left;
    float: right;
    padding: var(--container-padding);
    color: #3a4148;
    margin-top: 6vh;
    margin-bottom: 6vh;
    margin-right: 1.5vw;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 45%;
    line-height: 1.7rem;
}

@media screen and (max-width: 1500px)
{
    .info
    {
        margin: auto;
        width: 57vw;
    }

    .info img
    {
        width: 80%;
        float: left;
    }

    .info-text
    {
        float: right;
        margin-right: 10vw;
        width: 45%;
        height: auto;
    }

}

@media screen and (max-width: 1000px)
{
    .info
    {
        padding-left: 4vw;
        width: 95%;
        margin: auto;
    }

    .info-text, .info img{
        margin-top: 1vh;
        margin-bottom: 10vh;
        width: 95%;
        float: none;
    }
}

.meeter
{
    font-size: 1.4rem;
    font-weight: 400;
    color: #36414D;
}

.full_name
{
    font-size: 1.4rem;
    font-weight: bold;
    color: #36414D;
}

.web-image
{
    width: 100%;
    object-fit: cover;
}

.image
{
    width: 100%;
    object-fit: cover;
}

.covered-topics
{
    text-align: center;
    width: 100%;
    height: 70vh;
    background-color: rgb(248, 247, 247);
}

.covered-topics img
{
    width: 30vw;
    height: 52vh;
    margin-top: 11vh;
    margin-left: 14.5vw;
}

.covered-topics .topics-text
{
    text-align: left;
    float: right;
    margin-top: 6vh;
    margin-right: 20vw;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 27vw;
    height: 50vh;
    line-height: 1.5;
}

.break-1
{
    height: 1.5vh;
}

.break-2
{
    height: 5vh;
}

.break-3
{
    height: 5vh;
}

.covered-topics .topics-text .third, .new-module .module-info .fourth
{
    padding-left: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #3a4148;
}

.first
{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.covered-topics .second
{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.covered-topics .fourth
{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.first, .second, .fourth, .new-module .third
{
    color: #36414D;
}

.new-module img
{
    width: 30vw;
    height: 52vh;
    margin-top: 5vh;
    margin-left: 18.3vw;
}

.new-module .module-info
{
    text-align: left;
    float: right;
    margin-top: 12vh;
    margin-right: 20vw;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 27vw;
    height: 50vh;
    line-height: 1.5;
}

.Benjamin-speech
{
    width: 100%;
    height: 60vh;
    margin-top: 6vh;
}

.Benjamin-speech .speech-info
{
    margin-top: 8vh;
    margin-left: 18.5vw;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 27vw;
    height: 50vh;
    line-height: 1.3;
}

.Benjamin-speech img
{
    float: right;
    margin-right: 15vw;
    width: 30vw;
    height: 52vh;
}

.Benjamin-speech .second
{
    font-size: 1rem;
}

.Benjamin-speech .fourth
{
    font-weight: bold;
    font-size: 1.1rem;
}

.pricing
{
    text-align: center;
    height: 80vh;
    margin-bottom: 3vh;
    background-color: rgb(248, 247, 247);
}

.bold-question
{
    padding-top: 5vh;
    font-size: 1.4rem;
    font-weight: bold;
    color: #36414D;
    font-family: Arial, Helvetica, sans-serif;
}

.first-pricing
{
    text-align: center;
    margin-top: 6vh;
    margin-left: 25vw;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50vw;
}

.price
{
    font-size: 1.4rem;
}

.order-button-2
{
    margin: auto;
    margin-top: 9vh;
    text-align: center;
    min-width: 250px;
    font-weight: bold;
    background-color: darkgoldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    line-height: 6vh;
    width: 15vw;
    height: 6vh;
    border-radius: 9vh 9vh 9vh 9vh;
}

.order-button-2 a
{
    color: white;
    text-decoration: none;
}

.final-content
{
    padding-top: 5vh;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(248, 247, 247);
    padding-bottom: 10vh;
}

.FAQ-head
{
    padding-top: 5vh;
    color: #36414D;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.faq-content
{
    padding-top: 5vh;
    margin: auto;
    display: block;
    text-align: left;
    width: 40vw;
}

.t-head
{
    color: #36414D;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.fn-text
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4rem;
    font-size: 1rem;
    color: #3a4148;
}

.final-content-2
{
    padding-top: 7vh;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10vh;
}

.Reviews-head
{
    color: #36414D;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.review-content
{
    padding-top: 5vh;
    margin: auto;
    text-align: center;
    width: 40vw;
}

.Logger
{
    width: 100%;
    height: 20vh;
    background-color: rgb(248, 247, 247);
    display: flex;
    justify-content: center;
}

.logger-button
{
    margin: auto;
    min-width: 300px;
    text-align: center;
    font-weight: bold;
    background-color: darkgoldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    line-height: 6vh;
    width: 20vw;
    height: 6vh;
    border-radius: 9vh 9vh 9vh 9vh;
}

.logger-button a
{
    color: white;
    text-decoration: none;
    position: relative;
}

.footer
{
    margin-top: 2vh;
    width: 100%;
    height: 7vh;
    display: inline-block;
}

.list
{
    float: left;
    margin-left: 20vw;
}

.name 
{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.signer
{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.signer a
{
    color: black;
    text-decoration: none;
}

.signer:hover
{
    text-decoration: underline;
}

.links
{
    float: right;
    margin-right: 20vw;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.links a
{
    color: black;
    text-decoration: none;
}

.link:hover
{
    text-decoration: underline;
}
